In [17]:
from pandas import DataFrame, read_csv

df: DataFrame = read_csv("../data/raw/RWventas.csv", engine="pyarrow")

# first rows and info
print("First 5 rows of the dataframe:")
display(df.head())

# show dataframe info
print("\nDataframe info:")
display(df.info())
print(f"Null values per column:\n{df.isnull().sum()}")

print("\nDataframe description:")
display(df.describe())

First 5 rows of the dataframe:

,Ciudad,Fecha,Producto,Tipo_Producto,Cantidad,Precio_Unitario,Tipo_Venta,Tipo_Cliente,Descuento,Costo_Envio,Total
0,Antofagasta,2025-11-28,Leche,Alimento_Percedero,2.0,1587.0,Online,Minorista,0.2,0.0,2539.0
1,Monterrey,2025-11-29,Leche,Hogar,5.0,None,Call_Center,Mayorista,0.2,10000.0,20412.0
2,Valparaíso,2025-12-07,Café,Hogar,1.0,3882.0,Tienda_Física,Minorista,0.0,0.0,3882.0
3,Sevilla,2025-12-01,Té,Snack,5.0,2060.0,Distribuidor,Corporativo,0.15,0.0,8755.0
4,Sevilla,2025-11-18,Chocolate,Snack,1.0,3712.0,Online,Minorista,0.05,250000.0,8526.0

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Ciudad           995449 non-null  object
 1   Fecha            995380 non-null  object
 2   Producto         995395 non-null  object
 3   Tipo_Producto    995374 non-null  object
 4   Cantidad         995470 non-null  object
 5   Precio_Unitario  995545 non-null  object
 6   Tipo_Venta       995477 non-null  object
 7   Tipo_Cliente     995579 non-null  object
 8   Descuento        995497 non-null  object
 9   Costo_Envio      995531 non-null  object
 10  Total            995472 non-null  object
dtypes: object(11)
memory usage: 83.9+ MB

None

Null values per column:
Ciudad             4551
Fecha              4620
Producto           4605
Tipo_Producto      4626
Cantidad           4530
Precio_Unitario    4455
Tipo_Venta         4523
Tipo_Cliente       4421
Descuento          4503
Costo_Envio        4469
Total              4528
dtype: int64

Dataframe description:

,Ciudad,Fecha,Producto,Tipo_Producto,Cantidad,Precio_Unitario,Tipo_Venta,Tipo_Cliente,Descuento,Costo_Envio,Total
count,995449,995380,995395,995374,995470,995545,995477,995579,995497,995531,995472
unique,208,153,52,41,43,7788,27,29,6,14,52609
top,Santiago,2025-11-28,Pan,Alimento_Percedero,4.0,???,Tienda_Física,Gobierno,0.0,0.0,???
freq,35867,33429,124704,165579,99478,3341,248675,248666,202489,662357,3288